<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB488ZLtGioyu6f9nEdRbqQhJCttJyWk5s</string>
	<key>GCM_SENDER_ID</key>
	<string>175974758304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eli.Valease</string>
	<key>PROJECT_ID</key>
	<string>valease-b185d</string>
	<key>STORAGE_BUCKET</key>
	<string>valease-b185d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175974758304:ios:96518ccf9eb12b231316c5</string>
</dict>
</plist>